<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.number_field :visibility %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_select :date_created %>
  </div>

  <div class="field">
    <%= form.label :date_updated %>
    <%= form.datetime_select :date_updated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
