<%= render "shared/nav" %>
<p id="notice" style="position: fixed"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="background-color: #77DD77"></div>
    <div class="col-8 px-5 min-vh-100" style="padding-top: 100px">
      <div class="row py-4 border-bottom">
        <div class="row">
          <div class="col-11">
            <h1><%= @list.title %></h1>
          </div>
          <div class="col-1 text-end">
            <%= link_to "/lists/" + @list.id.to_s + "/edit", class:"btn btn-outline-dark" do %>
              <%= fa_icon "pencil" %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <h4><%= @list.description %></h4>
        </div>
      </div>
      <% if @user and @user["id"] == @list.user_id %>
        <%= render "items/form", locals: { list_id: @list.id, method: "post", title: "New Item:" } %>
      <% end %>
      <% @items.each do |item| %>
        <%= render "items/row", locals: { item: item } %>
      <% end %>
      <div class="row py-4">
        <h3>Comments:</h3>
        <% if @user %>
          <%= render "comments/form", locals: { list_id: @list.id, method: "post", title:"New Comment:", submit: "Send" } %>
        <% end %>
        <% @comments.each do |comment| %>
          <%= render "comments/row", locals: { comment: comment } %>
        <% end %>
      </div>
    </div>
    <div class="col-2" style="background-color: #77DD77"></div>
  </div>
</div>
