<%= render "shared/nav" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="background-color: #77DD77"></div>
    <div class="col-8">
      <div class="row py-4 border-bottom">
        <h1><%= @list.title %></h1>
      </div>
      <% if session[:current_user]["id"] == @list.user_id %>
        <%= render "items/add_form", locals: { list_id: @list.id } %>
      <% end %>
      <% @items.each do |item| %>
        <div class="row py-4 border-bottom">
          <div class="col-11">
            <div class="row">
              <div class="col-2">
                <img class="rounded-circle w-100" src=<%= item.image and item.image != "" ? item.image : "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" %> />
              </div>
              <div class="col-6 px-4">
                <div class="row">
                  <h3><%= item.title %></h3>
                </div>
                <div class="row">
                  <%= item.description %>
                </div>
              </div>
              <div class="col-4 my-auto">
                <div class="row text-end">
                  <h5><%= format("%.2f", item.price) %> <%= item.currency %></h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6"></div>
              <div class="col-3 text-end">
                Added: <%= item.created_at.strftime("%B %-d, %Y %H:%m") %>
              </div>
              <div class="col-3 text-end">
                Edited: <%= item.updated_at.strftime("%B %-d, %Y %H:%m") %>
              </div>
            </div>
          </div>
          <div class="col-1">
            <br/>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-6">
                <button class="btn btn-outline-danger">x</button>
              </div>
              <div class="col-3"></div>
            </div>
            <br/>
            <div class="row">
              <div class="col-3"></div>
              <div class="col-6">
                <button class="btn btn-outline-dark">e</button>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2" style="background-color: #77DD77"></div>
  </div>
</div>
