<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @list.visibility %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @list.date_created %>
</p>

<p>
  <strong>Date updated:</strong>
  <%= @list.date_updated %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
