<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @comment.list_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @comment.date_posted %>
</p>

<p>
  <strong>Date updated:</strong>
  <%= @comment.date_updated %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
