<%= render "shared/nav" %>
<p id="notice" style="position: fixed"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="background-color: #77DD77"></div>
    <div class="col-8 px-5 min-vh-100" style="padding-top: 100px">
      <div class="row py-5">
        <div class="col-4 px-4">
          <div class="row">
            <div class="col-6">
              <img class="rounded-circle" style="width: 100%" src=<%= @user["avatar"] or "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" %> />
            </div>
            <div class="col-6">
              <br />
              <br />
              <h1><%= @user.username %></h1>
              <h5><%= @user.email %></h5>
              <div class="row">
                <div class="col-6 px-3">
                  <%= link_to "Logout", "/logout", class:"btn btn-success" %>
                </div>
                <div class="col-6 px-3">
                  <%= link_to "Delete", "/users/" + @user["id"].to_s, method: "delete", class:"btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-11">
              <h1>Lists</h1>
            </div>
            <div class="col-1">
              <%= form_with(model: @list, url: "/lists", scope: :list, local: false, format: "json") do |form| %>
                <%= form.hidden_field :user_id, value: @user.id %>
                <%= form.hidden_field :title, value: "New List" %>
                <%= form.hidden_field :description, value: "" %>
                <%= form.hidden_field :visibility, value: "false" %>
                <%= form.submit "+", class:"btn btn-outline-success" %>
              <% end %>
            </div>
          </div>
          <% @lists.each do |list| %>
            <div class="row border-top py-2">
              <div class="col-11">
                <%= link_to "/lists/" + list.id.to_s, class:"btn" do %>
                  <h3><%= list.title %></h3>
                <% end %>
              </div>
              <div class="col-1">
                <%= link_to "X", "/lists/" + list.id.to_s, method: "delete", class:"btn btn-outline-danger" %>
              </div>
            </div>
            <div class="row px-3">
              <h5><%= list.description %></h5>
            </div>
            <div class="row border-bottom py-3 px-3">
              <div class="col-5">
                Created: <%= list.created_at.strftime("%B %-d, %Y %H:%m") %>
              </div>
              <div class="col-2"></div>
              <div class="col-5">
                Updated: <%= list.updated_at.strftime("%B %-d, %Y %H:%m") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-2" style="background-color: #77DD77"></div>
  </div>
</div>
