<nav class="navbar navbar-dark px-5 py-3 fixed-top" style="background-color: #126B12">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>Lystical</h1>
    </a>
    <ul class="navbar-nav d-flex flex-row justify-content-end">
      <li class="nav-item px-3">
        <%= form_with(model: @list, url:"/lists/search/", method: "get", scope: :list) do |form| %>
          <div class="input-group mb-3" style="margin-top: 12px">
            <%= form.text_field :search, class:"form-control", placeholder:"Search" %>
            <%= form.button fa_icon "search", class:"btn btn-light" %>
          </div>
        <% end %>
      </li>
      <li class="nav-item px-1">
        <% if @user %>
          <a class="nav-link" href=<%= "/users/" + @user["id"].to_s %>>
            <h4 style="margin-top: 10px; float: left"><%= @user["username"] %></h4>
            <img class="rounded-circle" style="height: 50px; width: 50px; margin-left: 10px" src=<%= @user["avatar"] or "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" %> />
          </a>
        <% else %>
          <a class="nav-link" href="/login">
            <h4 style="margin-top: 10px">Log In / Sign Up</h4>
          </a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
