<div class="row py-4 border-bottom">
  <div class="col-11">
    <div class="row">
      <div class="col-2">
        <div class="ratio ratio-1x1">
          <img class="rounded-circle" src=<%= locals[:item].image != "" ? locals[:item].image : "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" %> />
        </div>
      </div>
      <div class="col-6 px-4">
        <div class="row">
          <h3><%= locals[:item].title %></h3>
        </div>
        <div class="row px-3">
          <%= locals[:item].description %>
        </div>
      </div>
      <div class="col-4 my-auto">
        <div class="row text-end">
          <% if locals[:item].price %>
            <h5><%= format("%.2f", locals[:item].price) %> <%= Money::Currency.find_by_iso_numeric(locals[:item].currency).iso_code %></h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-3 text-end">
        Added: <%= locals[:item].created_at.strftime("%B %-d, %Y %H:%m") %>
      </div>
      <div class="col-3 text-end">
        Edited: <%= locals[:item].updated_at.strftime("%B %-d, %Y %H:%m") %>
      </div>
    </div>
  </div>
  <div class="col-1">
    <br/>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "/items/" + locals[:item].id.to_s, method:"delete", class:"btn btn-outline-danger" do %>
          <%= fa_icon "times" %>
        <% end %>
      </div>
      <div class="col-3"></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= link_to "/items/" + locals[:item].id.to_s + "/edit", class:"btn btn-outline-dark" do %>
          <%= fa_icon "pencil" %>
        <% end %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
